.card-container {
    width: 300px; /* Ancho deseado para las tarjetas */
    margin-bottom: 20px; /* Espaciado inferior entre las tarjetas */
}
  
.card-image {
    height: 200px; /* Altura deseada para la imagen de la tarjeta */
    object-fit: cover;
}
  