.titulo{
    font-size: 30px;
    margin: 15%;
    font-family:"Verdana" sans-serif;
    text-align: center;   
    color: #0c0c0c;
    text-transform: uppercase;
}
.main1 {
    grid-area: "main";
    grid-row: 1 / span 2;
}    
.main2 {
    grid-area: 'main1';
    grid-row: 1 / span 2;
}
.enunciado{
    font-size: 20px;
    margin: 40% 25% 25% 25%;
    font-family: "Verdana" sans-serif;
    
    text-align: center;   
   
}
.hero {
    
    padding: 50px;
    text-align: center;
    color: #333;
}
  
.titulo {
    font-size: 2.5rem;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px 20px;
}
  
.subtitulo {
    font-size: 1.2rem;
    line-height: 1.5;
}
  
  
  
  